  
  width: 100%;
  text-align: center;
  background-color: #FBFBFB;
}

/* Text Styles */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 2em;
  line-height: 1em;
  padding: 8px 0;
  margin: 0;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  color: #53878A;
}

h3 {
  font-size: 1em;
  line-height: 1em;
  padding: 4px 0;
  margin: 0;
  font-weight: 400;
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

h4 {
  font-size: .7em;
  line-height: 1em;
  padding: 4px 0 0 0;
  margin: 0;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}


a {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  text-decoration: none;
  font-weight: 400;
  color: #53878A;
}

b1 {
  color: #333;
  font-weight: bold;
}


b {
  color: #53878A;
}

p {
  font-family: 'Open Sans', sans-serif;
  text-align:left;
  font-size: 1em;
  line-height: 1.32em;
  color: #000;
  margin: 0 0 2em 0;
  opacity: 0.5;
}

img {
  /*width: 100%;*/
}

#steps img {
  display: inline;
  position: relative;
  top: 4px;
  height: 20px;
  width: 20px;
}

.button{
  font-family: 'Open Sans', sans-serif;
  float: left;
  text-decoration: none;
  padding-right: 12px;
  line-height: 1em;
  font-size: .8em;
  font-weight: 500;
  padding-top: 8px;
}

a:hover{
  color: #31656A;
}

.buttons{
  width: 100%;
}

/* Wrapper */

#wrapper {
  width: 800px;
  margin: 0 auto;
  padding: 32px;
}

/* Header */

#header {
  width: 100%;
  position: relative;
  text-align:left;
  padding-left: 0px;
  padding-bottom: 16px;
  margin-bottom: 8px;
  border-bottom: 1px solid #CCC;
}

#project {
}

#title {
}

#summary {
}


#pager {
  width: auto;
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 1em;
}



/* Steps */

#steps {
  float: left;
  width: 500px;
  padding-top: 12px;
  margin: null;
}

#userFlowStep {
    padding: none;
  }

#controls {
  float: left;
}

#pager a{
  padding-right: 20px;
}

/* Videos */

#videos {
  float: left;
  position: relative;
  width: 290px;
  height: 500px;
}

#bg {
  width: 260px;
  height: auto;
  position: absolute;
  left: 0;
  z-index: 1;

}

#prototype {
  position: absolute;
  height: auto;
  width: 260px;
  left: 0;
  z-index: 2;
}

/* Console */

#console {
    position: fixed;
    z-index: 5;
    bottom: 0;
    left: 0;
    text-align: left;
    font-weight: bold;
    width: 100%;
    background-color: rgba(200,200,200, .5);
    font: .7em "Menlo", sans-serif;
    padding: 8px;
}
